@media only screen and (max-width: 950px) {
  header {
    width: 100%;
    justify-content: space-between;
  }
  header .main {
    display: none;
  }
  header nav {
    display: none;
  }
  header .nav-icon {
    display: flex;
    margin-left: 20px;
  }
  header .search-icon {
    display: flex;
    margin-right: 20px;
  }
  header .search-icon img {
    width: 35px;
  }
  header .nav-icon img {
    width: 35px;
  }
  .section-one .sec-one-content h1{
    font-size: 3em;
    padding-right: 10px;
  }
  .section-one .sec-one-content p{
    font-size: 1em;
    padding-right: 10px;
  }
  .section-one .sec-one-content button{
    width: 150px;
    font-size: 1.5em;
    padding: 0px;
  }
  .sec-one-bottom-content{
    height: 100%;
    display: block;
    bottom: 300px;
    padding: 15px;
  }
  .sec-one-bottom-content p{
    font-size:1.4em;

  }
  /* section two */

  .section-two .sec-two-top{
    margin-top: -200px;
    display: block;
    font-size: 0.8em;
  }

  

 .section-two .sec-two-center{
  display: inline-block;
  width: 100%;
  margin: auto;
 }
 .section-two .sec-two-center .left{
  display: inline-block;
  width: 100%;
 }
 .section-two .sec-two-center .center{
  display: inline-block;
  width: 55%;
  margin-right: 15px;
 bottom: 40px;
 }
 .section-two .sec-two-center .right{
  display: inline-block;
  width: 40%;
  top: 53px;
  gap: 30px;
 }
 .section-two .sec-two-center .right p{
  font-size: 1em;
 }
  
}