@media only screen and (max-width: 400px) {
  .section-one .sec-one-content {
    padding: 15px;
  }
  .section-one .sec-one-content h1 {
    font-size: 2.3em;
  }
  .section-one .sec-one-content p {
    font-size: 0.9em;
  }
  .section-one .sec-one-content button {
    width: 150px;
    font-size: 1.2em;
    padding: 0px;
  }
  .sec-one-bottom-content {
    padding: 15px;
    height: 100%;
    display: block;
    bottom: 300px;
  }
  .sec-one-bottom-content p {
    font-size: 1.4em;
  }
}
