@media only screen and (max-width:600px){
   .section-two .sec-two-center{
    display: flex;
    flex-direction: column;
    margin: auto;
   }
   .section-two .sec-two-center .center{
    width: 100%;
    top: 5px;
   }
   
   .section-two .sec-two-center .right{
    width: 100%;
    top: 10px;
   }
   .section-two .sec-two-center .right-one{
    width: 100%;
    top: 15px;
   }
}